<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type=text/javascript>
    $(function() {
      $('.r').bind('click', function() {
        $.getJSON('/record/RED',
            function(data) {
          //do nothing
        });
    return false;
  });
});
    $(function() {
      $('.y').bind('click', function() {
        $.getJSON('/record/YELLOW',
            function(data) {
          //do nothing
        });
    return false;
  });
});
    $(function() {
      $('.g').bind('click', function() {
        $.getJSON('/record/GREEN',
            function(data) {
          //do nothing
        });
    return false;
  });
});
</script>

<style>
    .btn-default {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
</style>


<form method="post">

    <input type="submit" class='btn btn-default r' style="border-radius: 8px; background-color: red" name="red" value="Red">
    <input type="submit" class='btn btn-default y' style="border-radius: 8px; background-color: yellow" name="yellow" value="Yellow">
    <input type="submit" class='btn btn-default g' style="border-radius: 8px; background-color: green" name="green" value="Green">

</div>
<form method="post">
    <input type="submit" class='btn btn-default' name="record" value="Start">
    <input type="submit" class='btn btn-default' name="record" value="Stop">
    <input type="submit" class='btn btn-default' name="play" value="Play">
</div>


