
<style>
    .btn-default {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
</style>


<form method="post">

    <input type="submit" class='btn btn-default' style="border-radius: 8px; background-color: red" name="red" value="Red">
    <input type="submit" class='btn btn-default' style="border-radius: 8px; background-color: yellow" name="yellow" value="Yellow">
    <input type="submit" class='btn btn-default' style="border-radius: 8px; background-color: green" name="green" value="Green">

</div>
<form method="post">
    <input type="submit" class='btn btn-default' name="record" value="Start">
    <input type="submit" class='btn btn-default' name="record" value="Stop">
    <input type="submit" class='btn btn-default' name="play" value="Play">
</div>


