<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type=text/javascript>
    $(function() {
      $('a#buttonR').bind('click', function() {
        $.getJSON('/RED',
            function(data) {
          //do nothing
        });
    return false;
  });
});
    $(function() {
      $('a#buttonY').bind('click', function() {
        $.getJSON('/YELLOW',
            function(data) {
          //do nothing
        });
    return false;
  });
});
    $(function() {
      $('a#buttonG').bind('click', function() {
        $.getJSON('/GREEN',
            function(data) {
          //do nothing
        });
    return false;
  });
});
</script>

<form>


    <a id=buttonR><button style="border-radius: 8px; background-color: red" class='btn btn-default'>Red</button></a>
    <a id=buttonY><button style="border-radius: 8px; background-color: yellow" class='btn btn-default'>Yellow</button></a>
    <a id=buttonG><button style="border-radius: 8px; background-color: green" class='btn btn-default'>Green</button></a>

    
</form>

